<div class="popup js-popup" data-error="{% trans %}an_error_occurred{% endtrans %}">
    <div class="popup-background js-popup-background" onclick="closePopup()"></div>
    <div class="popup-box js-popup-box" data-popup-class="">
        <div class="popup-close" onclick="closePopup()"><span class="glyphicon glyphicon-remove"></span></div>
        <div class="popup-content js-popup-content"></div>
    </div>
</div>