<div class="post-content js-post-content">
    <div class="post-content-placeholder js-post-content-placeholder no-feeds">
        {% trans %}no_post_selected{% endtrans %}
    </div>
    <div class="post-content-column js-post-content-column">
        <div class="post-header">
            <a class="post-title js-post-title" target="_blank"></a>
            <div class="post-author js-post-author"></div>
            <div class="post-date js-post-date"></div>
        </div>
        <div class="post-body js-post-body"></div>
        <div class="post-footer">
            <a class="post-link js-post-link btn btn-default" target="_blank">{% trans %}visit_website{% endtrans %}</a>
        </div>
    </div>
</div>