<div class="popup-title">
    {% trans %}add_folder{% endtrans %}
</div>

<div class="add-folder-form js-add-folder-form">
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
</div>