{% extends 'base.html.twig' %}

{% block body %}
    {# If there are no feeds, show this: #}
    <div class="no-feeds">
        <div class="text">{% trans %}no_feeds_available{% endtrans %}</div>
        <a href="#" onclick="openPopup('{{ path('feedsAddFeedForm') }}', 'add-feed')">{% trans %}add_new_feed{% endtrans %}</a>
    </div>

    {# else #}


{% endblock %}