$postHeight: 120px;

.posts {
    position: absolute;
    left: 0;
    top: 0;
    width: $postsWidth;
    height: 100%;
    overflow: auto;
    border-right: 1px solid $bgGray;
    font-size: 0.9em;

    .post {
        height: $postHeight;
        border-bottom: 1px solid $bgGray;
        cursor: pointer;
        overflow: hidden;
        color: $bgGrayFontColor;

        &.selected {
            background: $bgHighlightColor;
        }

        &.read {
            opacity: 0.6;
        }

        &.hidden {
            display: none;
        }

        .post-title {
            padding: 15px 15px 3px 15px;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .post-image {
            height: $postHeight;
            width: $postHeight;
            float: right;
            background-size: cover;
        }

        .post-preview {
            padding: 3px 15px;
            overflow: hidden;
            height: 40px;
        }

        .post-feed {
            padding: 3px 15px;
            font-size: 0.8em;
        }

        .post-date {
            padding: 3px 15px;
            font-size: 0.8em;
            opacity: 0.8;
        }
    }
}

.post-content {
    position: absolute;
    left: $postsWidth;
    top: 0;
    width: calc(100% - #{$postsWidth});
    height: 100%;
    overflow: auto;
    padding: 20px;

    .post-content-column {
        margin: 0 auto;
        max-width: 90%;
        display: none;
    }

    .post-header {
        border-bottom: 1px solid $bgGray;
        padding-bottom: 20px;
        margin-bottom: 30px;

        .post-title {
            font-size: 2em;
            font-weight: bold;
            color: #000000;
            display: block;
            margin-bottom: 5px;

            &:hover {
                text-decoration: none;
            }
        }

        .post-author {
            margin-right: 15px;
            display: none;

            &.shown {
                display: inline-block;
            }
        }

        .post-feed {
            margin-right: 15px;
            display: inline-block;
        }

        .post-date {
            display: inline-block;
            opacity: 0.7;
        }
    }

    .post-link {
        margin-top: 30px;
        width: 100%;
        text-align: center;
        display: block;
    }

    .post-footer {
        padding: 20px 0;
        margin-top: 30px;
        border-top: 1px solid $bgGray;

        .mark-as-unread, .mark-as-read {
            display: none;

            .show {
                display: inline-block;
            }
        }
    }
}