.sidebar {
    background: $bgGray;
    position: absolute;
    left: 0;
    top: 0;
    width: $sidebarWidth;
    height: 100%;
    padding: 20px 0;
    overflow: auto;

    .section {
        margin-bottom: 20px;
    }

    .full-link {
        display: block;
        color: $bgGrayFontColor;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px 0 5px 15px;
        width: 100%;

        &:hover {
            background: #e4e4e4;
            text-decoration: none;

            .edit-feed {
                display: block;
            }
        }

        &:active, &:focus {
            text-decoration: none;
        }

        &:active {
            background: #b4b4b4;
        }

        &.active {
            background: #d4d4d4;
        }

        &.small {
            font-size: 0.9em;
        }

        &.indented {
            padding-left: 30px;
        }

        .edit-feed {
            display: none;
            float: right;
            color: $bgGrayFontColor;
        }

        .glyphicon {
            margin-right: 10px;
        }

        .feed-favicon {
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }
    }

    .logo {
        text-align: center;
    }

    .toolbar {
        text-align: center;

        &.bottom {
            position: fixed;
            bottom: 0;
            left: 0;
            width: $sidebarWidth;
            text-align: left;
            padding: 8px 0;
            background: $bgGray;
        }

        .toolbar-icon {
            width: 35px;
            height: 35px;
            padding: 10px;
            color: $bgGrayFontColor;

            &:hover {
                background: #e4e4e4;
                text-decoration: none;
            }

            &:active, &:focus {
                text-decoration: none;
            }

            &:active {
                background: #b4b4b4;
            }
        }
    }

    .placeholder {
        height: 20px;
    }

    #refreshButtonIcon {
        &.spin {
            animation-name: spin;
            animation-duration: 2000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}