$screen-sm-min: 767px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$bgGray: #f4f4f4;
$bgGrayFontColor: #505050;

$sidebarWidth: 250px;

html, body {
    height: 100%;
}

form {
    div {
        margin-bottom: 20px;
    }
}

label {
    display: block;
}

input {
    font-size: 1.2em;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
}

button {
    background: $bgGray;
    padding: 5px 10px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;

    &:hover {
        background: #d4d4d4;
    }

    &:active {
        background: #b4b4b4;
    }
}

.ajax-loader {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #ffffff url('../img/loader.svg') no-repeat center center;
    z-index: 10;
    display: none;
}

@import "sidebar";
@import "body";
